<!-- Buy me a Coffee -->

<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="l01d" data-description="Support me on Buy me a coffee!" data-message="" data-color="#FFDD00" data-position="Right" data-x_margin="18" data-y_margin="18"></script>

<!-- Analytics --> 

<script defer src="https://cloud.umami.is/script.js" data-website-id="e7836db3-427c-4f49-a3ed-3edfb31dee1a"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8476056241438663"
     crossorigin="anonymous"></script>
